/* CSS File */

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.map-container {
  width: 70vw;
  height: 100vh;
  position: relative;
}

.leaflet-container {
  width: 100% !important;
  height: 100% !important;
}

.sidebar {
  width: 30vw;
  height: 100vh;
  padding: 2em;
  overflow-y: auto;
}

/* Additional styling for sidebar content if needed */
.sidebar h2,
.sidebar p,
.sidebar ul {
  text-align: left;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar button {
  width: 100%;
  font-weight: bold;
  padding: 0.8em 1em;
}