/* CSS File */

@font-face {
  font-family: "CBS NEW REGULAR";   /*Can be any text*/
  src: local("CBS NEW REGULAR"),
    url("./fonts/CBS-NEW-REGULAR.ttf") format("truetype");
}

@font-face {
  font-family: "CBS Sans";   /*Can be any text*/
  src: local("CBS Sans"),
    url("./fonts/CBSSans-Regular.ttf") format("truetype");
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: 'CBS Sans';
  font-style: regular;
}

.map-container {
  width: 70vw;
  height: 100vh;
  position: relative;
}

.leaflet-container {
  width: 100% !important;
  height: 100% !important;
}

.sidebar {
  width: 25vw;
  min-width: 270px;
  max-width: 350px;
  padding: 2em;
  overflow-y: auto;
  background-color: #ffffff;
}

.sidebar h3,
.sidebar p,
.sidebar ul {
  text-align: left;
}

.sidebar h2 {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'CBS NEW REGULAR';
  font-style: regular;
  font-size: 45px;
}

.sidebar h3 {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'CBS NEW REGULAR';
  font-style: regular;
  font-size: 30px;
}

.sidebar div {
  margin-bottom: 8px
}

.sidebar #layers {
  overflow-y: auto;
  height: 35%;
  width: 100%;
}

.sidebar #layers label {
  display: flex;
  align-items: center;
  gap: 8px
}

.sidebar .find-location-form input[type=text] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 5px;
}

.sidebar #layers input[type=checkbox] {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #5E2F3A;
}

.sidebar button {
  background-color: #4967AA;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 100%;
  font-weight: bold;
  padding: 0.8em 1em;
  margin-bottom: 20px;
}

.sidebar #latBut {
  width: 49%;
  margin-right: 2%;
}
.sidebar #lonBut {
  width: 49%;
}

#layers{
  margin-top: 70px;
}

.sidebar button:hover {
  background-color: #6793D6;
}

#footer {
  position:fixed;
  bottom:25px;
  width: 100%;
  max-width: 250px;
  min-width: 220px;
  background-color: #ffffff;
}